<div class="row" style="margin-left: 20px;">
    <div class="col-xs-10">
        <form>
        <div class="row">
            <div class="col-xs-5">
                <label>Name</label>
                <input type="text" id="name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <label>Amount</label>
                <input type="number" id="amount" class="form-control">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-success">Add</button>&nbsp;
                <button class="btn btn-info">Edit</button>&nbsp;
                <button class="btn btn-danger">Remove</button>
            </div>
        </div>
        </form>
    </div>
</div>
